.window-box {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 8px;
}

.window-box.right {
    padding-left: 8px;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

progress,
highlight {
    min-height: 8px;
}